
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
        <button id="new-post">Insert new post-it!</button>
      </div>
    </div>
      {{#each stickyNote}}
        <div id="{{ this.id }}" class="draggable" style="transform: translate({{ this.xCoord }}px, {{ this.yCoord }}px);" data-x="{{ this.xCoord }}" data-y="{{ this.yCoord }}">
          <p> {{ this.noteText }} </p>
        </div>
      {{/each}}
  </div>
