<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    {{#each stickyNote}}
    <div id="{{ this.id }}" class="draggable thisMoves"
      style="transform: translate({{ this.xCoord }}px, {{ this.yCoord }}px);" data-x="{{ this.xCoord }}"
      data-y="{{ this.yCoord }}">

      <div class="button deleteButton"><i class="fas fa-times"></i></div>

      <div class="button voteButton">
        {{!-- If the logged-in user has voted for this comment already, render the full star --}}
        {{#if User2}}
        <img src="/assets/img/filled-star.svg" class="voteStar">
        {{!-- Else, render the empty star --}}
        {{else}}
        <img src="/assets/img/star.svg" class="voteStarEmpty">
        {{/if}}
        <p class="voteCount">{{ this.Users.length }}</p>
      </div>

      <p contentEditable="true" onkeypress="return (this.innerText.length <= 120)"> {{ this.noteText }} </p>
    </div>
    {{/each}}

    <div class="side-panel">
      <div class="side-panel-icon">
        <img src="/assets/img/add-post-it.svg" id="new-post">
      </div>
      <div class="side-panel-icon">
        <img src="/assets/img/new-comment.svg" id="new-comment">
      </div>
      <div class="side-panel-icon">
        <img src="/assets/img/star.svg" id="star">
      </div>
    </div>
  </div>
</div>