<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Welcome <span class="member-name"></span></h2>
      <button id="new-post">Insert new post-it!</button>
    </div>

    {{#each stickyNote}}
    <div id="{{ this.id }}" class="draggable" style="transform: translate({{ this.xCoord }}px, {{ this.yCoord }}px);"
      data-x="{{ this.xCoord }}" data-y="{{ this.yCoord }}" onmouseleave="sendTextData(this)">
      <div class="deleteButton"><i class="fas fa-times"></i></div>
      
      <p contentEditable="true"> {{ this.noteText }} </p>

    </div>
    {{/each}}
  </div>
</div>
  <script>
    function sendTextData(data) {

    const allData = {
       noteText: data.children[1].innerHTML,
       id: data.id,
       xCoord: data.dataset.x,
       yCoord: data.dataset.y
    };
     $.ajax({
       method: "PUT",
       url: "/api/notes",
       data: allData
    }).then(() => {
       location.reload();
    });
  }
  </script>
