<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a class="be-redy" href="#">BE-REDY</a>
    <div class="navbar-header">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle welcome" href="#" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hello <span class="member-name"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="/logout">Sign out</a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    {{#each stickyNote}}
    {{!-- Sticky note --}}
    <div id="{{ this.id }}" class="draggable thisMoves"
      style="background-image: url(assets/img/{{this.noteColour}}.png); transform: translate({{ this.xCoord }}px, {{ this.yCoord }}px);"
      data-x="{{ this.xCoord }}" data-y="{{ this.yCoord }}">

      {{!-- Delete button --}}
      <div class="button deleteButton"><i class="fas fa-times"></i></div>

      {{!-- Vote button --}}
      <div class="button voteButton">
        {{!-- If the logged-in user has voted for this comment already, render the full star --}}
        {{#if User2}}
        <img src="/assets/img/filled-star.svg" style="opacity: 1;" class="voteStar">
        {{!-- Else, render the empty star --}}
        {{else}}
        <img src="/assets/img/star.svg" class="voteStarEmpty">
        {{/if}}
        <p class="voteCount">{{ this.Users.length }}</p>
      </div>

      {{!-- Drop-right menu for the comments to show in, with an input box to add a new comment --}}
      <div class="btn-group dropright">
        <a type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img class="newComment" src="/assets/img/post-it-comment.svg">
          <p class="commentCount">{{ this.Comments.length }}</p>
        </a>
        <div class="dropdown-menu">
          {{#each this.Comments}}
          <p id="{{ this.id }}" class="thisComment">{{ this.commentText }}<button class="commentDelete"><i
                class="fas fa-times"></i></button></p>
          <hr>
          {{/each}}
          <input id="{{ this.id }}" placeholder="New Comment" class="commentInput">
        </div>
      </div>

      {{!-- Sticky text --}}
      <p contentEditable="true" onkeypress="return (this.innerText.length <= 120)" class="textInput">
        {{ this.noteText }} </p>
    </div>
    {{/each}}

    {{!-- Buttons to create stickies --}}
    <div class="new-post-its">
      <a class="newStickyNoteButton" id="yellow" onclick="click"><img src="/assets/img/yellow-post-it.svg"></a>
      <br>
      <a class="newStickyNoteButton" id="orange" onclick="click"><img src="/assets/img/orange-post-it.svg"></a>
      <br>
      <a class="newStickyNoteButton" id="pink" onclick="click"><img src="/assets/img/pink-post-it.svg"></a>
    </div>
  </div>
</div>
</div>
</div>